<div class="flex min-h-screen flex-col px-20 py-8">
  @if (paginationService.currentPage === 1) {
    <div>
      <div class="flex items-center justify-between">
        <h4 class="text-2xl font-bold">Featured Products</h4>
        @if (featuredProducts.length > 4) {
          <a
            routerLink="/featured-products"
            class="rounded-lg bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-600"
          >
            Show More
          </a>
        }
      </div>

      <div class="flex flex-wrap">
        @for (featuredProduct of featuredProducts.slice(0, 4); track $index) {
          <div class="mb-6 w-full px-1 sm:w-1/2 md:w-1/3 lg:w-1/4">
            <app-product-card [product]="featuredProduct" />
          </div>
        }
      </div>
    </div>

    <div>
      <div class="flex items-center justify-between">
        <h4 class="text-2xl font-bold">New Products</h4>
        @if (newProducts.length > 4) {
          <a
            routerLink="/new-products"
            class="rounded-lg bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-600"
          >
            Show More
          </a>
        }
      </div>

      <div class="flex flex-wrap">
        @for (newProduct of newProducts.slice(0, 4); track $index) {
          <div class="mb-6 w-full px-1 sm:w-1/2 md:w-1/3 lg:w-1/4">
            <app-product-card [product]="newProduct" />
          </div>
        }
      </div>
    </div>
  }

  <div class="flex flex-1 flex-col">
    @if (paginationService.currentPage === 1) {
      <h4 class="mb-4 text-2xl font-bold">All Products</h4>
    }

    @if (regularProducts.length > 0) {
      <div class="flex flex-wrap">
        @for (regularProduct of paginatedRegularProducts; track $index) {
          <div class="mb-6 w-full px-1 sm:w-1/2 md:w-1/3 lg:w-1/4">
            <app-product-card [product]="regularProduct" />
          </div>
        }
      </div>
    } @else {
      <p class="text-gray-500">No products available.</p>
    }
  </div>

  @if (regularProducts.length > 0) {
    <div class="mt-auto flex justify-center pt-6">
      <button
        (click)="previousPage()"
        [disabled]="paginationService.currentPage === 1"
        class="mx-2 rounded-lg bg-gray-300 px-4 py-2 text-gray-700 hover:bg-gray-400 disabled:opacity-50"
      >
        Previous
      </button>
      <span class="px-4 py-2"
        >Page {{ paginationService.currentPage }} of
        {{ paginationService.totalPages }}</span
      >
      <button
        (click)="nextPage()"
        [disabled]="
          paginationService.currentPage >= paginationService.totalPages
        "
        class="mx-2 rounded-lg bg-gray-300 px-4 py-2 text-gray-700 hover:bg-gray-400 disabled:opacity-50"
      >
        Next
      </button>
    </div>
  }
</div>
