<div class="mt-4 flex flex-col items-center md:px-40">
  @if (isEdit) {
    <h3>Update Brand</h3>
  } @else {
    <h3>Add New Brand</h3>
  }
  <form class="w-96 p-4 shadow-sm">
    <div class="flex flex-wrap">
      <div class="w-full gap-4">
        <mat-form-field class="w-full">
          <mat-label for="name">Name</mat-label>
          <input
            matInput
            type="text"
            id="name"
            name="name"
            [(ngModel)]="brandName"
          />
        </mat-form-field>
      </div>
      <div class="flex w-full justify-center">
        @if (isEdit) {
          <button
            mat-raised-button
            color="primary"
            class="mb-2"
            (click)="onUpdateBrand()"
            [disabled]="!brandName"
          >
            Update
          </button>
        } @else {
          <button
            mat-raised-button
            color="primary"
            class="mb-2"
            (click)="onAddBrand()"
            [disabled]="!brandName"
          >
            Add
          </button>
        }
      </div>
    </div>
  </form>
</div>
