.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  font-size: 1rem;
  color: #374151;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%236B7280'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/></svg>");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;

  cursor: pointer;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  &:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
    outline: none;
  }

  &:hover {
    border-color: #9ca3af;
  }
}

.custom-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  font-size: 16px;
  text-align: center;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
  font-size: 16px;
  text-align: center;
}
